canvas.sketchypad_sketch_layer {
  cursor:crosshair;
  position:absolute;
  border:1px solid gray;
}

/*http://stackoverflow.com/questions/7059039/how-to-prevent-accidental-select-drag-highlight-on-webpage-when-drawing-off-html5*/
.sketchypad_unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
